<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>tests/</directory>
        </exclude>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage.txt"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="emergency_response_test"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="password"/>
        <env name="REDIS_HOST" value="localhost"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="JWT_SECRET" value="test-jwt-secret-key"/>
        <env name="ENCRYPTION_KEY" value="test-encryption-key-32-characters"/>
    </php>
</phpunit>